# Server Configuration
PORT=3333

# Database
DB_FILE_NAME=sqlite.db

# Authentication
PEPPER=generate-a-random-secret-key

# Upload
UPLOAD_DEST=/uploads
TMP_UPLOAD_DEST=/uploads/tmp

# ADMIN ACCOUNT
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=123123123

# ENV
NODE_ENV=development

# OPENAPI
OPENAPI_URL=http://localhost:3333/api/v1

#CORS
FRONTEND_URL=http://localhost:3001